
// Micro Clearfix, use this instead of clearing and/or adding additional HTML elements.
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin splitBorder {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100px;
        height: 1px;
        margin-left: -50px;
        background: #c6c6c6;
    }
}


// MediaQueris
$mdAll: 768px;
$md: 1279px;
$s: 767px;

@mixin mdAll {
    @media (min-width: #{$mdAll}) {
        @content;
    }
}

@mixin md {
    @media (max-width: #{$md}) {
        @content;
    }
}

@mixin s {
    @media (max-width: #{$s}) {
        @content;
    }
}
